# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Dagster local/temp files
.tmp_dagster_home_*/
.dagster/
storage/
history/
logs/

# OS files
.DS_Store

# Tableau temporary files
*.twb~